@import'../../../../variable.scss';

:host {
    background-color: $darkgray;
    padding: 20px;
}

.logo {
    font-size: 22px;
    color: white;
}

.logo-icon,
.shop-busket {
    font-size: 30px;
}
