:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding: 20px;
}

header,
.sidebar {
    background-color: #292b31;
    padding: 20px;
}

.logo {
    font-size: 22px;
    color: white;
}

.logo-icon {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
    padding: 15px;
}