@import'variable.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    padding: 20px;
    background-color: $lightgray;
}
.snack-bar-bg-color-ok {
    background-color: #009900;
}